// Define variables for your color scheme

// For example colours:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// rgb(83, 125, 93)
$dark_green: #537D5D;
// rgb(115, 148, 107)
$medium_green: #73946B;
// rgb(158, 188, 138)
$light_green: #9EBC8A;
// rgb(210, 208, 160)
$beige: #D2D0A0;
$bright_green: rgb(17, 174, 80);
$deep_green: rgb(7,75,43);

::placeholder {
  color: $dark_green;
 // opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: $dark_green;
}

input::placeholder {
  color: $dark_green;
  opacity: 0.5;
}
