<div>This should form a wide bar across the bottom of the page
with a circular KPI indicator towards the right. I have added an example number for now
<div class="kpi-cicle under-green">247</div>
</div>
