<!--navigation bar at top-->
<div class="two-buttons">
  <div class="card-rule">
    <div>
    <h5>Daily Tracker</h5>
    <hr>
    <h4>View your tracked meals so far today, with total calories.</h4>
      <%= link_to "See Tracker", meals_path, class: "btn my-custom-btn btn-lg fw-bold rounded-pill" %>
    </div>
  </div>
<div class="card-rule" style="background-image: url('https://i.sstatic.net/kb0Zm.jpg');">
    <div>
    <h5>Record a Meal</h5>
    <hr>
    <h4> Choose foods to add and track your meal or snack.</h4>
<!---->
  <%= link_to "Add a Meal", new_meal_path, class: "btn my-custom-btn btn-lg fw-bold rounded-pill" %>
   </div>
  </div>
</div>
<div class="page-with-kpi" style="background-image: linear-gradient(rgba(38,61,39,0.8),rgba(38,61,39,0.8)), url('https://master-7rqtwti-znj23gdadsstc.piximizer.px.at/w_1200,h_800,q_80,f_cover,cx_1,cy_0,cw_2994,ch_1996,v_a7622f2ef8/fileadmin/amc.info/6-Blog/en-gb/Article_17_Green_Food_Header.jpg');">
  <div class="kpi-circle under-green">247</div>
</div>
