<!--navigation bar at top-->
<div class="two-buttons dark-green">
<!---->
<%= link_to "See today's meals", meals_path, class: "btn btn-primary" %>
<!---->
<%= link_to "Add a meal", new_meal_path, class: "btn btn-primary" %>
</div>
<div class="page-with-kpi">
<div class="kpi-circle under-green">247</div>
</div>
