<!--navigation bar at top-->
<div class="container-image">
  <h1>What would you like to do?</h1>
  <h4>Your total recorded calorie intake for the day can be seen in the square, on the bottom right.</h4>
</div>


<div class="container-options">
  <div class="card-option ">
    <%= link_to meals_path do %>
      <h3>Daily Tracker</h3>
      <hr>
      <h6>View your tracked meals so far today, with total calories.</h6>
    <% end %>
  </div>

  <div class="card-option">
    <%= link_to new_meal_path do %>
      <h3>Record a Meal</h3>
      <hr>
      <h6>Choose foods to add to your meal or snack, to record your calorie intake.</h6>
    <% end %>
  </div>
</div>

<div class="fixed  kpi-circle"><%= @meals.total_calories.to_i %></div>
