<h2>Today's Calorie Breakdown</h2>

<ul>
  <% @calorie_breakdown.each do |breakdown| %>
    <li>
      <strong><%= breakdown[:meal_name] %></strong>: <%= breakdown[:calories] %> kcal
    </li>
    <%= link_to "Delete", meal_path(breakdown[:id]), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-delete" %>
  <% end %>
</ul>

<p><strong>Total Calories for Today:</strong> <%= @total_calories %> kcal</p>
