
.dark-green {
  background-color: rgb(50, 142, 110);
}

.under-green {
  background: linear-gradient(to right, rgb(250, 128, 114), rgb(144, 198, 124) )
}

.my-custom-btn {
  background-color: #435e49;   /* custom green */
  color: white;
  border: none;
  border-radius: 50%;
}

.my-custom-btn:hover {
  background-color: #3a4e3f;
  color: linear-gradient(to right, rgb(250, 128, 114), rgb(144, 198, 124) )   /* slightly darker on hover */
}
