
.dark-green {
  background-color: rgb(50, 142, 110);
}

.under-green {
  background: linear-gradient(to right, rgb(250, 128, 114), rgb(144, 198, 124) )
}

.my-custom-btn {
  background-color: #435e49;   /* custom green */
  color: white;
  border: none;
  border-radius: 7px;
}

.my-custom-btn:hover {
  background-color: #3a4e3f;
  color: linear-gradient(to right, rgb(250, 128, 114), rgb(144, 198, 124) )   /* slightly darker on hover */
}

.btn-signup {
  background: linear-gradient(to right,  #537D5D, #9EBC8A );
  color: white;
  border: none;
  border-radius: 7px;
  width: 100%;
}

.btn-signup:hover {
  color: #3a4e3f;   /* slightly darker on hover */
}


.btn-signup-secondary {
  color: #435e49;   /* custom green */
  border: none;
}
