// # Hex Code	RGB Value
// #537D5D	(83, 125, 93)
// #73946B	(115, 148, 107)
// #9EBC8A	(158, 188, 138)
// #D2D0A0	(210, 208, 160)


.dark-green {
  background-color: $dark_green;
}

ul {
  list-style-type: none;
}
.under-green {
//  background: linear-gradient(to right, rgb(250, 128, 114), $light_green )
 background: linear-gradient(to right, rgb(13,13,13), $beige )
}

.my-custom-btn {
  background-color: $dark_green;   /* custom green */
  color: white;
  border: none;
  border-radius: 7px;
}

.my-custom-btn:hover {
  background-color: #3a4e3f;
  color: $bright_green;  /* slightly darker on hover */
}

.btn-signup {
  background: linear-gradient(to right,  $dark_green, $light_green );
  color: white;
  border: none;
  border-radius: 7px;
  width: 100%;
}

.btn-tracker {
  background: linear-gradient(to right,  $dark_green, $light_green );
  color: white;
  border: none;
  border-radius: 7px;
  width: 40%;
}

.btn-query {
  // background: linear-gradient(to right, rgb(129, 162, 177), rgb(129, 162, 177));
  background-color: rgb(222, 57, 93);
  color: white;
  border: none;
  border-radius: 7px;
  width: 40%;
}

.btn-query:hover {
  color: $bright_green;
}

#my-tab-content {
  background: linear-gradient(to right,  $dark_green, $light_green );
  color: white;
  border: none;
  border-radius: 7px;
  width: 40%;
  overflow: scroll;
}

.btn-signup-option {
      background: linear-gradient(to right, $light_green, $dark_green );
      color: white;
      border: none;
      border-radius: 7px;
      width: 100%;
  }


.btn-signup:hover {
  color: $bright_green;
}

.btn-signup-option:hover {
  color: $bright_green;
}


.btn-signup-secondary {
  color: $dark_green;   /* custom green */
  border: none;
}
