// # Hex Code	RGB Value
// #537D5D	(83, 125, 93)
// #73946B	(115, 148, 107)
// #9EBC8A	(158, 188, 138)
// #D2D0A0	(210, 208, 160)

.card-tracker {
//  background-color: rgba(158,188,138, 0.2);
  background-color: white;
  overflow-y: scroll;
//  overflow-x and overflow-y are also options
  font-family: Nunito, Helvetica, "sans-serif";
  h1, h2, h3, h4, h5, p {
    color: $deep_green;
  }
  h6 {
    color:rgba(83, 125, 93, 0.7);
  }
  color: $deep_green;
  border-radius: 7px;
  display: flex;
  width: 40%;
  height: 360px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: space-beween;
  padding: 22px;
  margin: 36px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.text-inactive-tab {
  color: $dark_green;
}

.text-inactive-tab:hover {
  color: $bright_green;
  font-weight: bolder;
}

.container-centered-flex {
  display: flex;
  justify-content: center;
}

.container-image {
  border-top: 2px solid black;
  border-width: 2px;
  border-color:$deep_green;
  padding: 40px;
  height: 36vh;
  color: $deep_green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  background-image: linear-gradient(rgba(219,215,210,0.7), rgba(219,215,210,0.9)), asset-url('LandingImageZonedIn.png');
  background-size: 100%;
  background-position: center;
}

.container-options{
  background-color: white;
  height: 52vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-evenly;
  }

.kpi-circle {

      width: 120px;
      height: 120px;
//      background: linear-gradient(to right, rgb(188,222,187),$beige);
  //    background-image: linear-gradient(rgba(210,208,160,0.7), rgba(210,208,160,0.0)), asset-url('seamless_repeated_banner.png');
      background-color: $deep_green;
      color: white;
      background-position: center;
      border-radius: 32%;
 //     background-size: 20%;
      font-family: Nunito, Helvetica, "sans-serif";
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      line-height: 120px;
    }

.fixed {
  position: fixed;
  bottom: 90px;
  right: 120px;
}

.container-kpi {
  height: 24vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 100px;
}

.card-option {
  background-color: rgba(158,188,138, 0.2);
  font-family: Nunito, Helvetica, "sans-serif";
  h1, h2, h3, h4, h5, h6, p {
    color: $deep_green;
  }
  border-radius: 7px;
  display: flex;
  width: 320px;
  height: 160px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: space-beween;
  padding: 22px;
  margin: 36px;
}


.card-option:hover{
  h1, h2, h3, h4, h5, h6, p {color:$bright_green;}
}

.card-rule {
  margin: 50px;
  background-color: rgba(219,215,210,0.6);
  background-image: linear-gradient(rgba(219,215,210,0.7),rgba(219,215,210,0.7)), asset-url('transparent_paper_texture.png');
  // background-image: asset-url('transparent_paper_texture.png');
  background-size: contain;
  width: 220px;
  height: 234px;
  padding: 16px;
  border-radius: 16px;
  font-family: Nunito, Helvetica, "sans-serif";
  h5 {
    text-align: center;
    font-weight:bolder;
    font-size: 23px;
  }
  h4 {
    color: black;
    font-size: large;
    text-align: center;
  }
  .card-rule-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  justify-content: center;
  box-shadow: 0 4px 8px rgba(83, 125, 93, 0.7);
}

.two-buttons {
  background-position: center;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn {
    border-radius: 5px;
    margin: 16px;
  }
  background-image: linear-gradient(rgba(219,215,210,0.8), rgba(219,215,210,0.8)), asset-url('LandingImageZonedIn.png');
 // background: linear-gradient(to right, $light_green, $dark_green );
  background-size: 100%;
  background-repeat: repeat;
}

.container-lower {
  display:flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(212, 211, 186,0.2);
  height: 4vh;
  color: $dark_green;
  padding: 2px;
}
