
.kpi-circle {
      width: 120px;
      height: 120px;
      background-image: linear-gradient(rgba(138,151,39,0.6),rgba(38,61,39,0.6)), asset-url('KiwiSlice.png');
      background-size: 110%;
      background-position: center;
      border-radius: 50%;
      font-family: Nunito, Helvetica, "sans-serif";
      font-size: 36px;
      font-weight: bold;
      color: white;
      text-align: center;
      line-height: 120px;
      margin: 100px;
    }

  .favicon {
      width: 20px;
      height: 20px;
      background-image: linear-gradient(rgba(138,151,39,0.6),rgba(38,61,39,0.6)), asset-url('KiwiSlice.png');
      border-radius: 50%;
      background-position: center;
      background-size: 110%;
  }

.page-with-kpi {
  height: 24vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.card-rule {
  margin: 50px;
  background-color: rgba(219,215,210,0.6);
  background-image: linear-gradient(rgba(219,215,210,0.6),rgba(219,215,210,0.6)), asset-url('transparent_paper_texture.png');
  // background-image: asset-url('transparent_paper_texture.png');
  background-size: contain;
  width: 220px;
  height: 234px;
  padding: 16px;
  border-radius: 4px;
  font-family: Nunito, Helvetica, "sans-serif";
  h5 {
    text-align: center;
    font-weight:bolder;
    font-size: 23px;
  }
  h4 {
    color: black;
    font-size: large;
    text-align: center;
  }
  .card-rule-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  justify-content: center;
  box-shadow: 0 4px 8px rgba(67, 94, 73, 0.7);
}

.two-buttons {
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn {
    border-radius: 5px;
    margin: 16px;
  }
  background: linear-gradient(to right, rgb(147, 174, 153), rgb(67,94,73) );
  background-size: cover;
  background-repeat: repeat;
}
