.meals-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;

  > * {
    overflow-y: auto;
  }

  > :first-child {
    border-right: 1px solid #ccc;
  }

  > :last-child {
    background-color: #f9f9f9;
    padding: 1em;
  }
}

.meal-form-space {
  margin-right: 20px;
}

.weight-space {
  margin-right: 20px;
  margin-top: 50px;
}

.meals-button {
  width: 100px;
}
