.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a {
  padding: 4px 4px;
  text-decoration: none;
  color: rgb(43, 42, 42);
  &:hover {
    color: rgb(17, 174, 80) !important;
  }
}
