.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-title {
  font-size: 1.8rem;
  color: rgb(7, 75, 43);
  margin-right: auto;
}

a {
  padding: 4px 4px;
  text-decoration: none;
  color: rgb(43, 42, 42);
  &:hover {
    color: rgb(17, 174, 80) !important;
  }
}
