.chart-background {
  background-color: #9ebc8a33;
  padding: 1rem;
  border-radius: 8px;
}

// light green original: #D0F0C0
// light ivory footer: F0F0F0
// light grey: #E6E6E6
// pale green from reg_form: #9ebc8a33
